In [1]:
import swapi
import pandas as pd
from pandas import json_normalize

In [2]:
star_wars_data = swapi.fetch_star_wars_data("2")
if star_wars_data:
    star_wars_df = json_normalize(star_wars_data)
    print(star_wars_df)

       name rotation_period orbital_period diameter    climate     gravity  \
0  Alderaan              24            364    12500  temperate  1 standard

                 terrain surface_water  population  \
0  grasslands, mountains            40  2000000000

                                           residents  \
0  [https://swapi.dev/api/people/5/, https://swap...

                                               films  \
0  [https://swapi.dev/api/films/1/, https://swapi...

                       created                       edited  \
0  2014-12-10T11:35:48.479000Z  2014-12-20T20:58:18.420000Z

                                url
0  https://swapi.dev/api/planets/2/

In [3]:
swapi.display_planet_dataframe()

              name  diameter
5           Bespin  118000.0
9           Kamino   19720.0
34       Malastare   18880.0
43     Glee Anselm   15600.0
18       Saleucami   14920.0
38         Vulpter   14900.0
26     Ord Mantell   14050.0
58           Kalee   13850.0
56      Muunilinst   13800.0
31       Chandrila   13500.0
20          Eriadu   13490.0
48           Dorin   13400.0
11          Utapau   12900.0
32         Sullust   12780.0
13        Kashyyyk   12765.0
1         Alderaan   12500.0
8        Coruscant   12240.0
40            Tund   12190.0
23       Nal Hutta   12150.0
7            Naboo   12120.0
10        Geonosis   11370.0
30        Mon Cala   11030.0
21        Corellia   11000.0
36          Ryloth   10600.0
35        Dathomir   10480.0
0         Tatooine   10465.0
2         Yavin IV   10200.0
41      Haruun Kal   10120.0
15         Mygeeto   10088.0
24       Dantooine    9830.0
16         Felucia    9100.0
4          Dagobah    8900.0
33        Toydaria    7900.0
22           Rodia    7549.0
3             Hoth    7200.0
25      Bestine IV    6400.0
6            Endor    4900.0
12        Mustafar    4200.0
19         Stewjon       0.0
28       Trandosha       0.0
17  Cato Neimoidia       0.0
27         unknown       0.0
29         Socorro       0.0
14     Polis Massa       0.0
51         Serenno      -1.0
57           Shili      -1.0
55           Skako      -1.0
54            Ojom      -1.0
53           Zolan      -1.0
52    Concord Dawn      -1.0
37     Aleen Minor      -1.0
50          Mirial      -1.0
49        Champala      -1.0
47         Quermia      -1.0
46         Iktotch      -1.0
45         Tholoth      -1.0
44        Iridonia      -1.0
42           Cerea      -1.0
39         Troiken      -1.0
59          Umbara      -1.0

In [3]:
url = 'https://swapi.dev/api/starships/'
names = swapi.get_starships(url)
starships_df = swapi.create_starships_df(names)
print(starships_df)

starship_info = swapi.get_starship('15')
if starship_info:
    df_starship = json_normalize(starship_info)
    print("Vaisseau de Star Wars :")
    print(starship_info)

                             Name
0                   CR90 corvette
1                  Star Destroyer
2    Sentinel-class landing craft
3                      Death Star
4               Millennium Falcon
5                          Y-wing
6                          X-wing
7                 TIE Advanced x1
8                        Executor
9                 Rebel transport
10                        Slave 1
11               Imperial shuttle
12  EF76 Nebulon-B escort frigate
13               Calamari Cruiser
14                         A-wing
15                         B-wing
16               Republic Cruiser
17             Droid control ship
18                  Naboo fighter
19           Naboo Royal Starship
20                       Scimitar
21        J-type diplomatic barge
22       AA-9 Coruscant freighter
23               Jedi starfighter
24            H-type Nubian yacht
25          Republic Assault ship
26                   Solar Sailer
27       Trade Federation cruiser
28       Theta-class T-2c shuttle
29        Republic attack cruiser
30               Naboo star skiff
31               Jedi Interceptor
32                        arc-170
33            Banking clan frigte
34       Belbullab-22 starfighter
35                         V-wing
Vaisseau de Star Wars :
{'name': 'Executor', 'model': 'Executor-class star dreadnought', 'manufacturer': 'Kuat Drive Yards, Fondor Shipyards', 'cost_in_credits': '1143350000', 'length': '19000', 'max_atmosphering_speed': 'n/a', 'crew': '279,144', 'passengers': '38000', 'cargo_capacity': '250000000', 'consumables': '6 years', 'hyperdrive_rating': '2.0', 'MGLT': '40', 'starship_class': 'Star dreadnought', 'pilots': [], 'films': ['https://swapi.dev/api/films/2/', 'https://swapi.dev/api/films/3/'], 'created': '2014-12-15T12:31:42.547000Z', 'edited': '2014-12-20T21:23:49.893000Z', 'url': 'https://swapi.dev/api/starships/15/'}

In [4]:
#affiche le dataframe de tout les noms des personnages
url = 'https://swapi.dev/api/people/'
names = swapi.get_characters(url)
names_df = swapi.create_names_df(names)
print(names_df)

#affiche le dataframe du personnage dont j'ai choisis l'identifiant
response_data = swapi.get_character("4")
if response_data:
    df_character = json_normalize(response_data)
    print("Personnage Star Wars :")
    print(df_character)
else:
    print("Erreur lors de la récupération des informations.")

               Name
0    Luke Skywalker
1             C-3PO
2             R2-D2
3       Darth Vader
4       Leia Organa
..              ...
77         Grievous
78          Tarfful
79  Raymus Antilles
80        Sly Moore
81       Tion Medon

[82 rows x 1 columns]
<Response [200]>
Personnage Star Wars :
          name height mass hair_color skin_color eye_color birth_year gender  \
0  Darth Vader    202  136       none      white    yellow    41.9BBY   male

                          homeworld  \
0  https://swapi.dev/api/planets/1/

                                               films species vehicles  \
0  [https://swapi.dev/api/films/1/, https://swapi...      []       []

                               starships                      created  \
0  [https://swapi.dev/api/starships/13/]  2014-12-10T15:18:20.704000Z

                        edited                              url
0  2014-12-20T21:17:50.313000Z  https://swapi.dev/api/people/4/

In [24]:
# Appeler la fonction en lui passant l'URL de l'API
url = "https://swapi.dev/api/vehicles/"
response_data = swapi.interroger_api(url)

if response_data is not None:
    # Créer un DataFrame à partir des données
    df_vehicles = pd.DataFrame(response_data)
    print(df_vehicles)
else:
    print("Pas de données à afficher.")

   count                                    next previous  \
0     39  https://swapi.dev/api/vehicles/?page=2     None
1     39  https://swapi.dev/api/vehicles/?page=2     None
2     39  https://swapi.dev/api/vehicles/?page=2     None
3     39  https://swapi.dev/api/vehicles/?page=2     None
4     39  https://swapi.dev/api/vehicles/?page=2     None
5     39  https://swapi.dev/api/vehicles/?page=2     None
6     39  https://swapi.dev/api/vehicles/?page=2     None
7     39  https://swapi.dev/api/vehicles/?page=2     None
8     39  https://swapi.dev/api/vehicles/?page=2     None
9     39  https://swapi.dev/api/vehicles/?page=2     None

                                             results
0  {'name': 'Sand Crawler', 'model': 'Digger Craw...
1  {'name': 'T-16 skyhopper', 'model': 'T-16 skyh...
2  {'name': 'X-34 landspeeder', 'model': 'X-34 la...
3  {'name': 'TIE/LN starfighter', 'model': 'Twin ...
4  {'name': 'Snowspeeder', 'model': 't-47 airspee...
5  {'name': 'TIE bomber', 'model': 'TIE/sa bomber...
6  {'name': 'AT-AT', 'model': 'All Terrain Armore...
7  {'name': 'AT-ST', 'model': 'All Terrain Scout ...
8  {'name': 'Storm IV Twin-Pod cloud car', 'model...
9  {'name': 'Sail barge', 'model': 'Modified Luxu...